body {
    margin: 0 auto;
    font-family: Arial, serif;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}